:root {
  --primary-color: #e95a08;
  --text-light-color: rgba(0, 0, 0, 0.5);
  --text-gray: #8987a1;
  --text-light-gray: rgba(107, 114, 128, 1);
  --text-black-shade: #111111;
  --text-menu-selected: #252432;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f8ff;
}

/* shared styles */

.flex {
  display: flex;
}

.max-width {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
}

.primary-text {
  color: var(--primary-color);
}

.sub-title-text {
  color: var(--text-light-color);
  font-weight: 500;
}

.heading-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ------ header ------*/

/* navbar */
.nav-bar {
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.brand-logo {
  max-height: 70px;
}

.menu-bar {
  gap: 48px;
  align-items: center;
}

.cart-margin {
  margin-right: 8px;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  color: var(--text-gray);
}

#home,
#cart {
  color: var(--text-menu-selected);
}

#home {
  font-weight: bold;
}

/* banner */

.banner {
  justify-content: space-between;
  align-items: end;
  height: 461px;
  margin-top: 60px;
  max-width: 1140px;
  width: 100%;
}

.banner-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner-description {
  width: 80%;
}

.banner-img,
.banner-content {
  width: 50%;
}

.hero-img {
  width: 100%;
}

/* plant section */

.plant-section {
  margin-top: 80px;
}

.top-heading {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.plant-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-top: 40px;
  gap: 20px;
}

.plant-card img {
  width: 100%;
}

.plant-name {
  color: var(--text-black-shade);
  margin-top: 15px;
  margin-bottom: 10px;
}

.plant-card {
  text-align: center;
}

.add-cart-btn {
  padding: 8px 20px;
  margin: 15px 0;
  width: 100%;
}

/* plant lover section */

.plant-lover-section {
  margin-top: 120px;
  gap: 60px;
}

.pl-img-container {
  position: relative;
}

.poster-img {
  max-width: 540px;
}

.batch-img {
  width: 200px;
  height: 200px;
  position: absolute;
  right: -70px;
  top: -85px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.5));
  transform: rotate(0deg);
  animation: batch-spin 7s infinite linear;
}

@keyframes batch-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pl-title {
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.sub-title-text {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.pl-description ul {
  margin-left: 30px;
  margin-right: 20px;
}

/* latest deal section */

.deal-section {
  margin-top: 100px;
  width: 80%;
}

#bloom {
  grid-area: bloom;
}

#zabo {
  grid-area: zabo;
}

#ana {
  grid-area: ana;
}

.deal-img-container {
  display: grid;
  grid-template-areas: "bloom zabo zabo" "ana zabo zabo";
  gap: 20px;
  margin-top: 80px;
  width: 100%;
}

.deal-img-card {
  position: relative;
  border-radius: 14px;
}

.deal-img {
  border-radius: 18px;
  filter: brightness(0.6);
  width: 100%;
}

.deal-content {
  position: absolute;
  top: calc(50% - 25px);
  text-align: center;
  width: 100%;
  color: white;
}

.shop-now-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;
}

/* join section */
.join-section {
  max-width: 1440px;
  width: 100%;
  background-image: url("/assets/news-letter-bg.png");
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.join-form-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 190px 0 150px;
}

.join-title {
  font-size: 2.4rem;
  color: white;
  margin-bottom: 20px;
}

.join-form {
  width: calc(50% + 50px + 40px);
}

.user-email {
  flex: 1;
  padding: 15px 25px;
  outline: none;
  border: none;
}

.user-email::placeholder {
  color: var(--text-light-color);
}

.subscribe-btn {
  padding: 15px 40px;
}

/* footer section */

.footer-section {
  margin-top: 60px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.brand-segment {
  width: 30%;
}

.brand-icon {
  margin-bottom: 15px;
}

.cotent-menu-item,
.resources-menu-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.media-menu-item {
  list-style-type: none;
}

.media-menu {
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.resources-menu-link,
.content-menu-link {
  text-decoration: none;
  color: var(--text-light-gray);
  font-weight: 400;
}

.media-segment img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Responsive Media Query */

/* mobile and teblet device */

@media screen and (max-width: 992px) {
  .max-width {
    width: 100%;
  }

  .nav-bar {
    padding: 0 16px;
  }

  .mobile-hide {
    display: none;
  }

  /* banner */

  .banner {
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
  }

  .banner-content {
    width: 90%;
    margin: 0 auto;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    width: 100%;
  }

  .banner-img {
    width: 100%;
  }

  /* plant section */

  .plant-section {
    width: 90%;
  }

  .plant-lover-section {
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  

  .poster-img {
    width: 100%;
  }

  .pl-title {
    font-size: 2.2rem;
  }

  /* deal section */
  .deal-section {
    margin-top: 60px;
    width: 90%;
  }

  .deal-img-container {
    grid-template-areas: "bloom" "ana" "zabo";
    margin-top: 40px;
    gap: 15px;
  }

  /* join section */

  .subscribe-btn {
    padding: 15px 20px;
  }

  .footer-section {
    flex-direction: column;
    width: 90%;
    margin-bottom: 60px;
  }

  .brand-segment {
    width: 100%;
  }

  .cotent-menu-item,
  .resources-menu-item {
    margin-bottom: 30px;
  }
}

/* mobile device */

@media screen and (max-width: 576px) {

  .plant-container {
    grid-template-columns: repeat(2, auto);
  }

  /* deal section */

  .deal-img-container {
    grid-template-areas: "bloom" "ana" "zabo";
    margin-top: 40px;
    gap: 15px;
  }

  .join-title {
    font-size: 1.5rem;
  }
}

/* tablet device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .plant-container {
    grid-template-columns: repeat(3, auto);
  }

  .deal-img-container {
    grid-template-areas: "bloom ana" "zabo zabo";
    margin-top: 40px;
    gap: 15px;
  }

  .brand-segment,
  .media-segment {
    align-self: center;
  }
  .brand-segment {
    text-align: center;
  }

  .footer-section {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .content-segment,
  .site-resources-segment {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
